{% extends 'scholarship_post/index.html'%}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'scholarship_post/home.css' %}">
{% endblock css%}

{% block content %}

<!--Navbar starts-->
<header>
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center p-2" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">

                    <li class="nav-item mx-3">
                        {% if user.is_staff or user.is_superuser %}
                        <a class="nav-link nav-hover" href="{% url 'scholarship_post:add-scholarship' %}">
                            Add
                        </a>
                        {% endif %}
                    </li>

                    <li class="nav-item mx-3">
                        <a class="nav-link nav-hover"
                            href="{% url 'scholarship_post:scholarship-blog-list' %}">Scholarship</a>
                    </li>

                    <li class="nav-item mx-3">
                        <a class="nav-link nav-hover" href="{% url 'scholarship_post:user-logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--Navbar ends-->

<div class="container text-start text-md-center mt-4 ">
    <p class="username mt-2 welcome">Hello {{ user.username }}
        <i class="fa-regular fa-hand text-warning fs-4"></i>
    </p>
    <h1 class="fs-4 text-primary welcome">Welcome to Camp2Campus<br>
        <span class="fs-6 username">Scholarship Opportunity Hub</span>
    </h1>
</div>

<div class="footer">
    <footer
        class="text-center text-white bg-secondary mt-5 p-3">
        <p class="pt-2">&copy; 2024 Camp2Campus | All Rights Reserved</p>
    </footer>

</div>
{% endblock content %}