{% extends 'scholarship_post/index.html'%}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'scholarship_post/home.css' %}">
{% endblock css%}

{% block content %}

<!--Navbar starts-->
<header>
    <nav
        class="navbar navbar-expand-lg {% if user.is_staff or user.is_superuser %}bg-secondary{% else %}bg-primary{% endif %}">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center p-2" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item mx-3 ">
                        <a class="nav-link nav-hover text-white" href="{% url 'scholarship_post:home' %}">Home</a>
                    </li>
                    <li class="nav-item mx-3 ">
                        <a class="nav-link nav-hover" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-3">
                        {% if user.is_staff or user.is_superuser %}
                        <a class="nav-link nav-hover" href="{% url 'scholarship_post:add-scholarship' %}">
                            Add
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link nav-hover" href="{% url 'scholarship_post:scholarship-blog-list' %}">Scholarships</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link nav-hover" href="{% url 'scholarship_post:impact' %}">Impact</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link nav-hover" href="{% url 'scholarship_post:contact-us' %}">Contact Us</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link nav-hover" href="{% url 'scholarship_post:user-logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--Navbar ends-->

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>

                <!-- Carousel Items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'media/kak.jpg' %}" class="d-block w-100 rounded" alt="Kakuma Image 1">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'media/kka.jpg' %}" class="d-block w-100 rounded" alt="Kakuma Image 2">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'media/lek.jpg' %}" class="d-block w-100 rounded" alt="LEK Initiative">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'media/kaku.jpg' %}" class="d-block w-100 rounded" alt="Kakuma Image 3">
                    </div>
                </div>

                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container text-start text-md-center mt-4 ">
    <p class="username mt-2 welcome">Hello {{ user.username }}
        <i class="fa-regular fa-hand text-warning fs-4"></i>
    </p>
    <h1 class="fs-4 text-primary welcome">Welcome to Camp2Campus<br>
        <span class="fs-6 username">Scholarship Opportunity Hub</span>
    </h1>
</div>

<!-- About Let -->
<div class="container mt-4 about-let">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 p-3">
            <div id="about" class="about-section p-4">
                <div class="content">
                    <h5 class="fs-4 text-primary text-start text-md-center">Who We Are</h5>
                    <p class="text-start text-md-center">
                        <span class="fw-bold">Camp2Campus</span>, is a transformative initiative
                        dedicated to bridging the information gap on
                        scholarship opportunities for refugees and host communities in and around Kakuma Refugee Camp.
                        Inspired by personal experiences of growing up at Kakuma, Camp2Campus was born out of the
                        pressing need
                        to
                        provide timely and accurate access to educational opportunities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Mission and Vision -->
<div class="container mt-3 vision-mission">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row g-4">
                <!-- Mission Column -->
                <div class="col-12 col-md-6 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">Our Mission</h5>
                        <p>
                            To increase access to university education for refugees in Kakuma by looking for scholarship opportunities and providing technical application support
                        </p>
                    </div>
                </div>

                <!-- Vision Column -->
                <div class="col-12 col-md-6 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">Our Vision</h5>
                        <p>
                            To build a foundation for personal growth, self-reliance, and long-term development in
                            Kakuma
                            Refugee Camp, where every individual has access to opportunities that enable them to thrive.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- What We Do -->
<div class="container mt-3 what-we-do">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <h5 class="fs-4 text-primary text-start text-md-center mt-5">What We Do</h5>
            <p class="text-start text-md-center p-1">
                <span class="fw-bold">Camp2Campus</span> operates as a digital hub where scholarship opportunities are
                curated,
                categorized, and made easily accessible. Here's how we help
            </p>
            <div class="row g-4">
                <!-- Centralized Platform -->
                <div class="col-12 col-md-6 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">Scholarship Hub</h5>
                        <p>
                            Central database with filterable list of available university scholarship opportunities
                        </p>
                    </div>
                </div>
                <!-- User-Friendly Interface -->
                <div class="col-12 col-md-6 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">Mentorship Program</h5>
                        <p>
                            We Connect applicants with past scholarship awardees with experiences to guide them.
                        </p>
                    </div>
                </div>
                <!-- Smart Categorization -->
                <div class="col-12 col-md-6 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">Application Support</h5>
                        <p>
                            WE help applicants by providing technical applications support
                        </p>
                    </div>
                </div>
                <!-- Direct Access -->
                <div class="col-12 col-md-6 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">Notification Alerts</h5>
                        <p>
                           Applicants are notified on the scholarship due deadlines.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Why it matters -->
<div class="container mt-3 why-matters">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <h5 class="fs-4 text-primary text-start text-md-center mt-5">Why It Matters</h5>
            <p class="text-start text-md-center">
                Higher education makes it possible for thousands of refugee youth to develop skills and earn qualifications to allow them to become change-makers who can take the lead in identifying solutions to the challenges that affect them and their communities.

                <br>
                We aim to address
            </p>
            <div class="row g-4">
                <!-- Centralized Platform -->
                <div class="col-12 col-md-4 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">SDG 4</h5>
                        <p>
                            Ensuring inclusive and equitable quality education and promoting lifelong learning opportunities for all.
                        </p>
                    </div>
                </div>
                <!-- User-Friendly Interface -->
                <div class="col-12 col-md-4 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">Goal 4.3</h5>
                        <p>
                           Equal access to affordable, technical and higher education.
                        </p>
                    </div>
                </div>
                <!-- Smart Categorization -->
                <div class="col-12 col-md-4 d-flex">
                    <div class="bg-white shadow-lg p-4 rounded w-100 d-flex flex-column text-start text-md-center">
                        <h5 class="fs-5 text-primary">Gaol 4.9</h5>
                        <p>
                            Expand higher education scholarship for developing countries in particular less developed countries.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="footer">
    <footer
        class="text-center text-white {% if user.is_staff or user.is_superuser %}bg-secondary{% else %}bg-primary{% endif %} mt-5 p-3">
        <p class="pt-2">&copy; 2024 Camp2Campus | All Rights Reserved</p>
    </footer>

</div>
{% endblock content %}