{% extends 'scholarship_post/index.html'%}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'scholarship_post/impact.css' %}">
{% endblock css%}

{% block content %}
    <!--ADD IMPACT-->
    <div class="container">
        <h5>Our Impact Stories</h5>
         {% for message in messages %}
            {% if message %}
            <div class="{{ message.tags }} text-success text-center mt-2">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ impact_form.as_p }}
             <button type="submit">Submit</button>

        </form>

    </div>

{% endblock content %}