{% extends 'scholarship_post/index.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'scholarship_post/scholarship_detail.css' %}">
{% endblock css %}

{% block content %}
<div class="row mt-4 scholarship-detail justify-content-center">
    <div class="col-md-5 shadow-sm p-4 rounded scholarhsip">
        
        {% if not user.is_staff and not user.is_superuser %}
            <p class="text-start fs-5 text-dark fw-bold mb-4">Submit Your Application</p>
        {% else %}
            <p class="text-start fs-5 text-dark fw-bold mb-4">Update or Delete Scholarship</p>
        {% endif %}

        <h1 class="fs-5 text-dark fw-bold mb-3">{{ scholarship.title }}</h1>
        <p class="text-dark">{{ scholarship.content|linebreaks }}</p>
        
        <p class="text-dark mb-3">
            <span class="text-dark fw-semibold">Eligibility Criteria:</span><br>
            {{ scholarship.eligibility_criteria|linenumbers|linebreaks }}
        </p>
        
        <p class="text-dark mb-2">
            <span class="text-dark fw-semibold">Deadline:</span> {{ scholarship.dead_line }}
        </p>
        
        <p class="text-dark mb-2">
            <span class="text-dark fw-semibold">Link:</span><br>
            <a href="{{ scholarship.link }}" target="_blank" class="text-decoration-none text-primary">
                {{ scholarship.link|slice:":30" }}{% if scholarship.link|length > 30 %}...{% endif %}
            </a>
        </p>
        
        <p class="text-dark mb-2"><span class="text-dark fw-semibold">Posted on:</span> {{ scholarship.created_at }}</p>
        <p class="text-dark mb-3"><span class="text-dark fw-semibold">Posted By:</span> {{ scholarship.created_by.username }}</p>

        <div class="text-center">
            <a href="{% url 'scholarship_post:scholarship-blog-list' %}" class="btn btn-primary btn-sm mx-1 w-100 mb-3">Back</a>

            {% if user.is_staff or user.is_superuser %}
                <a href="{% url 'scholarship_post:update-scholarship' scholarship.pk %}" class="btn btn-secondary btn-sm mx-1 w-100 mb-3">Update</a>
                <a href="{% url 'scholarship_post:delete-scholarship' scholarship.pk %}" class="btn btn-danger btn-sm mx-1 w-100">Delete</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
