{% extends 'scholarship_post/index.html'%}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'scholarship_post/password_reset_form.css' %}">
{% endblock css%}

{% block content %}
<div class="row mt-5 reset-password">
    <div class="col-md-4">

    </div>

    <div class="col-md-4 shadow-lg p-4 bg-white rounded">
        <div>
            <h5 class="text-primary text-center">Reset Your Password</h5>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="w-100 rounded-1 btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="col-md-4">

    </div>


</div>
{% endblock content %}