{% extends 'scholarship_post/index.html'%}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'scholarship_post/password_reset_form.css' %}">
{% endblock css%}

{% block content %}
<div class="row mt-5">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <div>
            <p class="text-center fs-5">Your password has been successfully reset</p>
            <p>You can now <a href="{% url 'scholarship_post:user-login' %}" class="text-decoration-none btn btn-success">log in</a> with your new password.</p>
        </div>
    </div>

    <div class="col-md-4">

    </div>


</div>
{% endblock content %}