{% extends 'scholarship_post/index.html'%}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'scholarship_post/password_reset_form.css' %}">
{% endblock css%}

{% block content %}
<div class="row mt-5">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div>
            <h6 class="text-primary text-center">Check your email for the password reset link.</h6>
        </div>
    </div>

    <div class="col-md-4">

    </div>


</div>
{% endblock content %}